! Set the Font
URxvt*font: xft:DejaVu Sans Mono:size=10

! Set transparecy, level, color, and foreground color
URxvt.transparent: true
URxvt.shading: 100
URxvt.tintColor: #263238
!URxvt.foreground: #e0e0e0

! Turn off scrollbar
URxvt.scrollbar: false

! Clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.colorUL: #7ECCB2
